    .first_img {
        position: relative;
    }

    .option1 img {
        position: absolute;
        top: 16px;
        right: 380px;
        width: 50px;
        height: 50px;
    }

    .option2 img {
        position: absolute;
        top: 16px;
        right: 440px;
        width: 50px;
        height: 50px;
    }

    .new img {
        position: absolute;
        top: 16px;
        right: 500px;
        width: 50px;
        height: 50px;
    }

    .rentacar-box__flex{
        display: flex;
        flex-wrap: wrap;
    }

    .rentacar-box__item{
        width: 50%;   
    }

    .rentacar-box__imgs img{
        width: 25%;
    }

    /*.icon1 {
    }

    .icon2 {
        top: 20px;
    }

    .icon3 {
        top: 40px;
    }*/